.bigBoxAbout {
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  flex-direction: column;
}

.bigBoxAbout h1 {
  font-size: 30pt;
  font-weight: bold;
}

.bigBoxAbout p {
  font-size: 20pt;
  margin: 15px;
}


