.bigBoxTerms {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0 auto;
  display: flex;
  flex-direction: column;
}

.bigBoxTerms h1 {
  font-size: 30pt;
  font-weight: bold;
}

.bigBoxTerms p {
  font-size: 20pt;
  margin: 15px;
}
