@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --fern-green: #3c6b22ff;
  --eerie-black: #24201bff;
  --cream: #f4f4f4;
  --tea-green: #cbeaa6ff;
  --pistachio: #c0d684ff;
  font-family: "Inter", sans-serif;

  color: var(--eerie-black);
  background-color: var(--cream);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
